[submodule "test/components/Adafruit-GFX-Library"]
	path = test/components/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "test/components/arduino"]
	path = test/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "test/components/PxMatrix"]
	path = test/components/PxMatrix	
	url = https://github.com/diplfranzhoepfinger/PxMatrix.git
[submodule "test/components/Adafruit_BusIO"]
	path = test/components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "test/components/TetrisAnimation"]
	path = test/components/TetrisAnimation
	url = git@github.com:diplfranzhoepfinger/TetrisAnimation.git
[submodule "test/components/ezTime"]
	path = test/components/ezTime
	url = git@github.com:diplfranzhoepfinger/ezTime.git
